<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Item Catalog | {{pagename}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text" ><a href="{{ url_for('index_page') }}">Item Catalog</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    {% if logged_in == True %}
                    <li class="menu-text"><a href="{{ url_for('new_category') }}">New Category</a></li>
                    {% if category_info %}
                    {% if cat_auth == True %}
                    <li class="menu-text"><a href="{{ url_for('edit_category', category_name=category_info.name) }}">Edit Category</a></li>
                    <li class="menu-text"><a href="{{ url_for('delete_category', category_name=category_info.name)}}">Delete Category</a></li>
                    {% endif %}
                    {% endif %}
                    <li class="menu-text"><a href="{{ url_for('new_item') }}">New Item</a></li>
                    {% if category_info %}
                    {% if page_item %}
                    {% if item_auth == True %}
                    <li class="menu-text"><a href="{{ url_for('edit_item', category_name=category_info.name, item_name=page_item.name) }}">Edit Item</a></li>
                    <li class="menu-text"><a href="{{ url_for('delete_item', category_name=category_info.name, item_name=page_item.name)}}">Delete Item</a></li>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <li class="menu-text"><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li class="menu-text"><a href="{{ url_for('login_register') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <content>
        <div class="row" id="content">
            <div class="medium-3 columns" data-sticky-container>
                <div class="sticky" data-sticky data-anchor="content">
                    <h4>Categories</h4>
                    <ul>
                        {% for category in categories %}
                        <li><a href="{{ url_for('category_page', category_name=category.name) }}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="medium-9 columns">
                <div class="row">
                    <div class="9 columns">
                        <h2 class="text-center">{{pagename}}</h2>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class="{{category}} callout" data-closable>
                                {% if category == 'success'%}
                                <h5>Success</h5>
                                {% endif %}
                                {% if category == 'alert'%}
                                <h5>Alert</h5>
                                {% endif %}
                                {% if category == 'primary'%}
                                <h5>Notice</h5>
                                {% endif %}
                                <p>{{ message }}</p>
                                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="row small-up-2 medium-up-3 large-up-4">
                        {% for item in page_items %}
                        <div class="column">
                            <a href="{{ url_for('item_page', category_name=item.category.name, item_name=item.name) }}">
                                <img class="thumbnail" src="{{item.image}}" />
                            </a>
                            <h5 class="text-center"><a href="{{ url_for('item_page', category_name=item.category.name, item_name=item.name) }}">{{item.name}}</a></h5>
                            <h6 class="text-center"><b>Price:</b> ${{item.price}}</h6>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 medium-centered columns">
                        <div class="pagination-centered">
                            <ul class="pagination">
                                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                                <li class="current"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li class="unavailable"><a href="">&hellip;</a></li>
                                <li><a href="">12</a></li>
                                <li><a href="">13</a></li>
                                <li class="arrow"><a href="">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer>
        <p class="text-center">Item Catalog Web Application</p>
    </footer>
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script>
    $(document).foundation();
    </script>
</body>
</html>
