<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Item Catalog | Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text" ><a href="{{ url_for('index_page') }}">Item Catalog</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="menu-text"><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="row" id="content">
        <div class="medium-3 columns" data-sticky-container>
            <div class="sticky" data-sticky data-anchor="content">
                <h4>Categories</h4>
                <ul>
                    {% for category in categories %}
                    <li><a href="{{ url_for('category_page', category_name=category.name) }}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
                <h4>Authors</h4>
                <ul>
                    <li><a href="#">Skyler</a></li>
                    <li><a href="#">Jesse</a></li>
                    <li><a href="#">Mike</a></li>
                    <li><a href="#">Holly</a></li>
                </ul>
            </div>
        </div>
        <div class="medium-9 columns">
            <div class="row">
                <div class="9 columns">
                    <h2 class="text-center">{{pagename}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="row small-up-2 medium-up-3 large-up-4">
                    {% for item in page_items %}
                    <div class="column">
                        <img class="thumbnail" src="{{ url_for('static', filename='img/default/placeholder.png') }}">
                        <h5 class="text-center"><a href="{{ url_for('item_page', category_name=item.category.name, item_name=item.name) }}">{{item.name}}</a></h5>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="medium-6 medium-centered columns">
                    <div class="pagination-centered">
                        <ul class="pagination">
                            <li class="arrow unavailable"><a href="">&laquo;</a></li>
                            <li class="current"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li class="unavailable"><a href="">&hellip;</a></li>
                            <li><a href="">12</a></li>
                            <li><a href="">13</a></li>
                            <li class="arrow"><a href="">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    <p class="text-center">Item Catalog Web Application</p>
    </div>
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script>
    $(document).foundation();
    </script>
</body>
</html>
