<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Item Catalog | {{pagename}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text" ><a href="{{ url_for('index_page') }}">Item Catalog</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    {% if logged_in == True %}
                    <li class="menu-text"><a href="{{ url_for('new_category') }}">New Category</a></li>
                    {% if category_info %}
                    {% if cat_auth == True %}
                    <li class="menu-text"><a href="{{ url_for('edit_category', category_name=category_info.name) }}">Edit Category</a></li>
                    <li class="menu-text"><a href="{{ url_for('delete_category', category_name=category_info.name)}}">Delete Category</a></li>
                    {% endif %}
                    {% endif %}
                    <li class="menu-text"><a href="{{ url_for('new_item') }}">New Item</a></li>
                    {% if category_info %}
                    {% if page_item %}
                    {% if item_auth == True %}
                    <li class="menu-text"><a href="{{ url_for('edit_item', category_name=category_info.name, item_name=page_item.name) }}">Edit Item</a></li>
                    <li class="menu-text"><a href="{{ url_for('delete_item', category_name=category_info.name, item_name=page_item.name)}}">Delete Item</a></li>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <li class="menu-text"><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li class="menu-text"><a href="{{ url_for('login_register') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <content>
        <div class="row" id="content">
            <div class="medium-3 columns" data-sticky-container>
                <div class="sticky" data-sticky data-anchor="content">
                    <h4>Categories</h4>
                    <ul>
                        {% for category in categories %}
                        <li><a href="{{ url_for('category_page', category_name=category.name) }}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="medium-9 columns">
                <div class="row">
                    <div class="9 columns">
                        <h2 class="text-center">{{pagename}}</h2>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class="{{category}} callout" data-closable>
                                {% if category == 'success'%}
                                <h5>Success</h5>
                                {% endif %}
                                {% if category == 'alert'%}
                                <h5>Alert</h5>
                                {% endif %}
                                {% if category == 'primary'%}
                                <h5>Notice</h5>
                                {% endif %}
                                <p>{{ message }}</p>
                                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="12 columns">
                        <p>Login below.</p>
                        <div class="row">
                            <div class="6 columns">
                                <div id="signinButton">
                                    <span class="g-signin"
                                     data-scope="openid email"
                                     data-clientid="466246027865-kmlj1r4d4f1pe1j3u5uep2qe27au08u6.apps.googleusercontent.com"
                                     data-redirecturi="postmessage"
                                     data-accesstype="offline"
                                     data-cookiepolicy="single_host_origin"
                                     data-callback="signInCallback">
                                    </span>
                                </div>
                                <div id="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer>
        <p class="text-center">Item Catalog Web Application</p>
    </footer>
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="//apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
    function signInCallback(authResult) {
        "use strict";
        if (authResult['code']){
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{state}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = "/";
                        }, 4000);

                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }

            });
        }
    }
    </script>
</body>
</html>
